.dataTables_wrapper label {
    color: #acbab9;
}

.dataTables_wrapper input {
    color: #acbab9;
    margin-top: 3px;
    margin-bottom: 3px;
}

.dataTables_wrapper select {
    background: #333 !important;
    border: none !important;
    color: #acbab9 !important;
    font-size: 10px;
    margin-top: 3px;
}

.dataTables_info {
    color: #acbab9 !important;
}

.paginate_button .next {
    color: #acbab9 !important;
}