.main {
    background: #202020;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 50px);
    height: 100%;
    padding-left: 8px;
}

.main__container {
    box-shadow: 0 0 5px #12d7ec8c;
    background: #232322;
    margin: 10px 10px 0px 1px;
}

.main__container-head {
    background: #26353e;
    color: #d0e2e1;
    font-weight: bolder;
    line-height: 2em;
    text-indent: 1em;
    text-transform: uppercase;
}

.main__container-subhead {
    background: #26353e;
    color: #d0e2e18e;
    text-indent: 1em;
    width: 100%;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
}

.main__container-text {
    color: #acbab9;
    margin: 10px;
}

.main__container-text a {
    color: #f7a500a9;
    text-decoration: none;
}

.main__container-text ul {
    list-style-type: square;
}

.main__container-image {
    text-align: center;
}

.main__container-image-footnote {
    text-align: center;
    color: #acbab98c;
    font-style: italic;
}

.main__container-table-h {
    font-size: 10px;
    border: 1px solid #46616b;
    color: #acbab9;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.main__container-table-v {
    font-size: 10px;
    border: 1px solid #46616b;
    color: #acbab9;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.main__container-table-h th {
    padding: 2px 5px 2px 5px;
    border: 1px solid #46616b;
}

.main__container-table-v th {
    padding: 2px 5px 2px 5px;
    border-right: 1px solid #46616b;
    background: #38464780;
}

.main__container-table-h td,
.main__container-table-v td {
    padding: 2px 2px 2px 5px;
    border-right: 1px solid #46616b;
}

.main__container td:nth-child(2n+1) {
    background: #38464780;
}

.main__container tr:hover,
td:hover {
    background: rgba(128, 128, 128, 0.158);
}

.main__container .table-head {
    padding: 10px;
}

.main__container .table-icon {
    background-color: #46616b;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

.main__container .table-head-text {
    padding-left: 5px;
    color: #acbab9;
}

.main__container-chart {
    padding-left: 5px;
    padding-right: 5px;
}