.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;    
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

.col-13 {
    grid-column: span 13;
}

.col-14 {
    grid-column: span 14;
}

.col-15 {
    grid-column: span 15;
}

.col-16 {
    grid-column: span 16;
}

.col-17 {
    grid-column: span 17;
}

.col-18 {
    grid-column: span 18;
}

.col-19 {
    grid-column: span 19;
}

.col-20 {
    grid-column: span 20;
}

.col-21 {
    grid-column: span 21;
}

.col-22 {
    grid-column: span 22;
}

.col-23 {
    grid-column: span 23;
}

.col-24 {
    grid-column: span 24;
}

.col-25 {
    grid-column: span 25;
}

.col-26 {
    grid-column: span 26;
}

.col-27 {
    grid-column: span 27;
}

.col-28 {
    grid-column: span 28;
}

.col-29 {
    grid-column: span 29;
}

.col-30 {
    grid-column: span 30;
}

.row-1 {
    grid-row: span 1;
}

.row-2 {
    grid-row: span 2;
}

.row-3 {
    grid-row: span 3;
}

.row-4 {
    grid-row: span 4;
}

.row-5 {
    grid-row: span 5;
}

.row-6 {
    grid-row: span 6;
}

.row-7 {
    grid-row: span 7;
}

.row-8 {
    grid-row: span 8;
}

.row-9 {
    grid-row: span 9;
}

.row-10 {
    grid-row: span 10;
}

.row-11 {
    grid-row: span 11;
}

.row-12 {
    grid-row: span 12;
}

.row-13 {
    grid-row: span 13;
}

.row-14 {
    grid-row: span 14;
}

.row-15 {
    grid-row: span 15;
}

.row-16 {
    grid-row: span 16;
}

.row-17 {
    grid-row: span 17;
}

.row-18 {
    grid-row: span 18;
}

.row-19 {
    grid-row: span 19;
}

.row-20 {
    grid-row: span 20;
}

.row-21 {
    grid-row: span 21;
}

.row-22 {
    grid-row: span 22;
}

.row-23 {
    grid-row: span 23;
}

.row-24 {
    grid-row: span 24;
}

.row-25 {
    grid-row: span 25;
}

.row-26 {
    grid-row: span 26;
}

.row-27 {
    grid-row: span 27;
}

.row-28 {
    grid-row: span 28;
}

.row-29 {
    grid-row: span 29;
}

.row-30 {
    grid-row: span 30;
}